@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,900&family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav-bar-style */

.nav-section {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-weight: 600;
    color: #3C354F;
    font-size: 1.125;
}

.nav-section .nav-item ul li a {
    text-decoration: none;
    cursor: pointer;
}

.follow-us {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 7px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 10px;
}

.gamer-box {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.8rem;
}

.font-color {
    color: #FF42A5;
}

/* header-section-style */

.banner-section {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

/* .banner-contant{
    max-width: 1700px;
    margin: 0 auto;
} */
.banner-left-play-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Group\ 14.png");
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-repeat: no-repeat;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -40px;
}

.banner-title-goat {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.banner-right-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-right-image img {
    width: 600px;
    height: 60vh;
}

.banner-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: -50px;
}

.button {
    display: inline-flex;
    gap: 35px;
}

.red-button {
    padding: 15px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFFF;
}

.button-skyblue {
    padding: 15px 40px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFFF;
}

/* gamer-team-section-style */
.gamer-team-section {
    max-width: 100%;
    margin: 0 auto;
    background: url("../images/Group\ 14.png");
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-team {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.team-image img {
    width: 100%;
}

.team-content {
    width: 50%;
    text-align: end;
    margin: auto 0;
}

.team-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.our-purpose {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

.last-title {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* online games style */
.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.color-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.online-games-section {
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* play-games-section-style */

.play-games-section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    /* justify-content: space-between; */
}

.play-games-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.play-games-contant {
    width: 40%;
}

.h1 {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    width: 90%;
}

.color-span2 {
    color: #F948B2;
}

.play-games-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
    margin-right: 55px;
    padding-top: 20px;
}


.play-games-image-big {
    position: relative;
}

.play-games-image-big>img {
    width: 90%;
    height: 90%;
}

.play-games-image-small>img {
    width: 50%;
    height: 60%;
}

.play-games-image-small {
    position: absolute;
    bottom: -50px;
    left: -80px;
}








/* small-device-responsive */

@media screen and (max-width: 576px) {
    .nav-section {
        flex-direction: column;
        justify-content: center;
    }

    .nav-item ul {
        flex-direction: column;
        justify-content: center;
    }

    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-left-play-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-title-goat {
        width: 100%;
        font-size: 3rem;
        padding-bottom: 25px;
    }

    .banner-description {
        font-size: 1rem;
    }

    .button {
        padding-bottom: 50px;
        width: 100%;
    }

    .banner-right-image {
        width: 95%;
        padding-top: 50px;
    }

    .banner-right-image img {
        width: 100%;
        height: 50vh;
    }

    .gamer-team {
        flex-direction: column;
    }

    .team-content {
        width: 100%;
        text-align: center;
    }

    .team-title {
        text-align: center;
    }

    .online-game-title {
        font-size: .8rem;
    }

    .online-games-description {
        font-size: .7rem;
    }

    .online-games-section {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-items: center;
        text-align: center;
        padding-top: 30px;
    }

    .online-games-img-description {
        font-size: .8rem;
        text-align: center;
        font-weight: 550;
    }

    .play-games-container {
        margin: 0 auto;
        flex-direction: column;
        gap: 50px;
    }
    .h1{
        font-size: 2rem;
        text-align: center;
    }
    .play-games-contant{
        width: 100%;
        text-align: center;
    }
    .play-games-image-big{
        width: 80%;
    }
    .play-games-image-small{
        width: 70%;
        padding-left: 50px;
        padding-bottom: -30px;
    }

}






/* medium-device-responsive */

@media (min-width: 576px) and (max-width: 991px) {
    .nav-section {
        width: 95%;
    }

    .banner-right-image img {
        width: 100%;
        height: 50vh;
    }

    .gamer-team {
        flex-direction: column;
    }

    .team-content {
        width: 100%;
        text-align: center;
    }

    .team-title {
        text-align: center;
    }

    .online-games-section {
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        justify-content: center;
        /* width: 100%; */
        padding-top: 30px;
        gap: 10px;
    }

}