@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,900&family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav-bar-style */

.nav-section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    list-style: none;
    font-weight: 600;
    color: #3C354F;
    font-size: 1.125;
}

.nav-section .nav-item ul li a {
    text-decoration: none;
    cursor: pointer;
}

.follow-us {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 7px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 10px;
}

.gamer-box {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.8rem;
}

.font-color {
    color: #FF42A5;
}

/* header-section-style */

.banner-section {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

/* .banner-contant{
    max-width: 1700px;
    margin: 0 auto;
} */
.banner-left-play-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Group\ 14.png");
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-repeat: no-repeat;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -40px;
}

.banner-title-goat {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.banner-right-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-right-image img {
    width: 600px;
    height: 60vh;
}

.banner-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: -50px;
}

.button {
    display: inline-flex;
    gap: 35px;
}

.red-button {
    padding: 15px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFFF;
    cursor: pointer;
}

.button-skyblue {
    padding: 15px 40px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFFF;
    cursor: pointer;
}

/* gamer-team-section-style */
.gamer-team-section {
    max-width: 100%;
    margin: 0 auto;
    background: url("../images/Group\ 14.png");
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-team {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.team-image img {
    width: 100%;
}

.team-content {
    width: 50%;
    text-align: end;
    margin: auto 0;
}

.team-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.our-purpose {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

.last-title {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* online games style */

.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.color-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.online-games-section {
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


#online-game {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

#online-game:hover .overlay {
    opacity: 1;
}

.play-button {
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
}


.text {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(29, 211, 56);
    font-weight: 900;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#online-game:hover .text {
    opacity: 1;
}




.play-games-section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    /* justify-content: space-between; */
}

.play-games-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.play-games-contant {
    width: 40%;
}

.h1 {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    width: 90%;
}

.color-span2 {
    color: #F948B2;
}

.play-games-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
    margin-right: 55px;
    padding-top: 20px;
}


.play-games-image-big {
    position: relative;
}

.play-games-image-big>img {
    width: 90%;
    height: 90%;
}

.play-games-image-small>img {
    width: 50%;
    height: 60%;
}

.play-games-image-small {
    position: absolute;
    bottom: -50px;
    left: -80px;
}

/* games-type-section-style */
.games-type-section {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games-type-contaiber {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 120px;
    padding-bottom: 100px;
}

.type-1 {
    max-width: 25%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    gap: 5px;
    background: #FFF;
    padding: 5px 5px 5px 5px;
    border: 2px solid transparent;
}

.type-1:hover {
    border: 2px solid #F948B2;
    color: #F948B2;

}

/* footer-section-style */
.footer-section {
    padding-top: 80px;
    max-width: 100%;
    margin: 0 auto;
    background: #0B0223;
    padding: 150px 0px;
    /* padding: 200px 0; */
}


.footer-gamer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}


.connection-section,
ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
}

.connection-section a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}


/* .footer-section{
    background-color: #0B0223;
    height: 40vh;
} */

.tarms-section ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.tarms-section a {
    text-decoration: none;
    color: #ffffff84;
    font-weight: 200;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}


.connection-section ul li {
    display: grid;
    grid-template-columns: 1fr;
}


.play-logo {
    background-color: white;
    border-radius: 60%;
    padding: 5px;
    width: 30px;
    height: 30px;
}





/* small-device-responsive */

@media screen and (max-width: 576px) {
    .nav-section {
        flex-direction: column;
        justify-content: center;
    }


    .nav-item ul {
        flex-direction: column;
        justify-content: center;
    }

    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-left-play-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-title-goat {
        width: 100%;
        font-size: 3rem;
        padding-bottom: 25px;
    }

    .banner-description {
        font-size: 1rem;
    }

    .button {
        padding-bottom: 50px;
        width: 100%;
    }

    .banner-right-image {
        width: 95%;
        padding-top: 50px;
    }

    .banner-right-image img {
        width: 100%;
        height: 50vh;
    }

    .gamer-team {
        flex-direction: column;
    }

    .team-content {
        width: 100%;
        text-align: center;
    }

    .team-title {
        text-align: center;
    }

    .online-game-title {
        font-size: .8rem;
    }

    .online-games-description {
        font-size: .7rem;
    }

    .online-games-section {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-items: center;
        text-align: center;
        padding-top: 30px;
    }

    .online-games-img-description {
        font-size: .8rem;
        text-align: center;
        font-weight: 550;
    }



    .h1 {
        font-size: 2rem;
        text-align: center;
    }

    .play-games-container {
        flex-direction: column;
    }

    .play-games-contant {
        width: 100%;
        text-align: center;
    }

    .play-games-image-big {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .play-games-image-small {
        width: 70%;
        margin-left: 60px;
        margin-top: -80px;
    }

    .play-games-description {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }


    .type-1>img {
        width: 25px;
        height: 30px;
    }

    .type-1 {
        width: 300px;
        padding: 0px;
    }

    .type-1-title {
        font-size: .5rem;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 20px;
    }

}






/* medium-device-responsive */

@media (min-width: 576px) and (max-width: 991px) {
    .nav-section {
        width: 95%;
    }

    .banner-right-image img {
        width: 100%;
        height: 50vh;
    }

    .gamer-team {
        flex-direction: column;
    }

    .team-content {
        width: 100%;
        text-align: center;
    }

    .team-title {
        text-align: center;
    }

    .online-games-section {
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        justify-content: center;
        /* width: 100%; */
        padding-top: 30px;
        gap: 10px;
    }

    .play-games-container {
        margin: 0 auto;
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }

    .play-games-description {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .h1 {
        font-size: 2rem;
        text-align: center;
    }


    .play-games-image-big {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    .play-games-image-small {
        width: 70%;
        margin-left: 20px;
        margin-top: -80px;
    }

    .connection-section ul {
        gap: 10px;
    }
}